<%- include ("../partials/header") %>

<div class="container">
    <header class="jumbotron">
        <div class="container">
            <h1><span class="glyphicon glyphicon-tent"></span>  Welcome to YelpCamp!</h1>
        <p>View our hand-picked campgrounds from all over the world.</p>
        <p>
            <a class="btn btn-primary btn-lg" href="/campgrounds/new">Add new Campground</a>
        </p>
        </div>
    </header>

    <div class="row text-center " style="display:flex; flex-wrap: wrap;">
        <% campgrounds.forEach(function(campground){ %>
            <div class="col-md-3 col-sm-6 bottom-space">
                <div class="thumbnail">
                    <img src ="<%= campground.image %>">
                    <div class="caption"> 
                        <h4> <%= campground.name %> </h4> 
                        <% if (campground.rating === 0) { %>
                            <em>No reviews yet.</em>
                            <% } else { %>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star <% if (campground.rating > 1.5) { %> checked <% } %>"></span>
                            <span class="fa fa-star <% if (campground.rating > 2.5) { %> checked <% } %>"></span>
                            <span class="fa fa-star <% if (campground.rating > 3.5) { %> checked <% } %>"></span>
                            <span class="fa fa-star <% if (campground.rating > 4.5) { %> checked <% } %>"></span>
                        <% } %>
                    </div>  
                    <div class="align-item-bottom">
                        <a href="/campgrounds/<%= campground._id %>" class="btn btn-primary">More Info</a>
                    </div> 
                </div>
            </div>
        <% }); %>
    </div>
 </div>

<%- include ("../partials/footer") %>